<%- include('../partials/header') %>
    <%- include('../partials/pages/headerProfile') %>

        <!-- Team Start -->
        <div class="container-fluid pt-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container pt-5">
                <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                    <h5 class="fw-bold text-primary text-uppercase">Welcome</h5>
                    <h1 class="mb-0">WHOLE NAME</h1>
                </div>

            </div>
        </div>
        <!-- Team End -->


        <!-- Profile Start-->
        <div class="container-xl px-4 mt-4">
            <!-- Account page navigation-->
            <nav class="nav nav-borders">
                <p><a class="nav-link ms-0" href="profile">Profile</a></p>
                <p><a class="nav-link active" href="profile-history">History</a></p>
                <p><a class="nav-link" href="profile-notification">Notifications</a></p>
            </nav>
            <hr class="mt-0 mb-4">

            <!-- History history card-->
            <div class="card mb-4">
                <div class="card-header">History</div>
                <div class="card-body p-0">
                    <!-- History history table-->
                    <div class="table-responsive table-billing-history">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th class="border-gray-200" scope="col">Transaction ID</th>
                                    <th class="border-gray-200" scope="col">Date</th>
                                    <th class="border-gray-200" scope="col">Amount</th>
                                    <th class="border-gray-200" scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#39201</td>
                                    <td>06/15/2021</td>
                                    <td>$29.99</td>
                                    <td><span class="badge bg-light text-dark">Pending</span></td>
                                </tr>
                                <tr>
                                    <td>#38594</td>
                                    <td>05/15/2021</td>
                                    <td>$29.99</td>
                                    <td><span class="badge bg-success">Paid</span></td>
                                </tr>
                                <tr>
                                    <td>#38223</td>
                                    <td>04/15/2021</td>
                                    <td>$29.99</td>
                                    <td><span class="badge bg-success">Paid</span></td>
                                </tr>
                                <tr>
                                    <td>#38125</td>
                                    <td>03/15/2021</td>
                                    <td>$29.99</td>
                                    <td><span class="badge bg-success">Paid</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../partials/footer') %>