<%- include('../partials/header') %>
    <%- include('../partials/pages/headerReference') %>

        <!-- Testimonial Start -->
        <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
                    <h5 class="fw-bold text-primary text-uppercase">References</h5>
                    <h1 class="mb-0">Special Thanks To These References For Our Website</h1>
                </div>
                <div class="row g-0 mb-3">
                    <h5 class="mb-3"><i
                            class="fa fa-check text-primary me-3"></i>https://themewagon.com/themes/free-bootstrap-5-html5-business-startup-website-template-startup/?fbclid=IwAR1OmqTrishjDj-0lvZJVRqvA1GIvW1Fqw1lnScj5S-oI0_x30n5CkEEw9s
                    </h5>
                    <h5 class="mb-3"><i
                            class="fa fa-check text-primary me-3"></i>https://themewagon.github.io/startup2/index.html
                    </h5>
                    <h5 class="mb-3"><i
                            class="fa fa-check text-primary me-3"></i>https://dhvsu.edu.ph/index.php/featuredarticles/67-featured-article-2
                    </h5>
                    <h5 class="mb-3"><i
                            class="fa fa-check text-primary me-3"></i>https://maps.app.goo.gl/QLAXnBYUwP2M4jXP7</h5>
                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>https://fontawesome.com/</h5>
                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>https://www.canva.com/en_ph/</h5>
                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i></h5>
                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i></h5>
                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i></h5>
                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i></h5>
                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i></h5>
                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i></h5>
                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i></h5>
                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i></h5>
                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i></h5>
                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i></h5>
                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i></h5>
                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i></h5>
                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i></h5>
                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i></h5>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->

        <%- include('../partials/footer') %>