
<%- include('partials/header') %> <%- include('partials/features/headerChatAI')
%>

<!-- Team Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
    <div
      class="section-title text-center position-relative pb-3 mb-5 mx-auto"
      style="max-width: 600px"
    >
      <h5 class="fw-bold text-primary text-uppercase">Title</h5>
      <h1 class="mb-0">CODE GENERATOR </h1>
    </div>
  </div>
  <!-- CONVO BOX HERE -->
  <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="css/chatAi.css" />

  <div class="container">
    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card chat-app">
          <div id="plist" class="people-list">
            <div class="input-group">
              <div class="input-group-prepend">
              </div>
              <!-- <input type="text" class="form-control" placeholder="Search..." /> -->
              <h3>Ai Generator</h3>
            </div>
            <ul class="list-unstyled chat-list mt-2 mb-0">
              <li class="clearfix active">
                <img
                  src="img/bot-icon.png"
                  alt="avatar"
                />
                <div class="about">
                  <div class="name">Code Generator</div>
                </div>
              </li>
              <li class="clearfix" onclick="handleConversationPage()">
                <img
                src="img/conversation-icon.png"
                alt="avatar"
              />
                <div class="about">
                  <div class="name">Conversation</div>
                </div>
              </li>
              <li class="clearfix">
                <img
                  src="https://bootdey.com/img/Content/avatar/avatar3.png"
                  alt="avatar"
                />
                <div class="about">
                  <div class="name">Image Generator</div>
                  <div class="status">
                    <i class="fa fa-circle online"></i> online
                  </div>
                </div>
              </li>
          
            </ul>
          </div>
          <div class="chat">
            <div class="chat-header clearfix">
              <div class="row">
                <div class="col-lg-6">
                  <a
                    href="javascript:void(0);"
                    data-toggle="modal"
                    data-target="#view_info"
                  >
                    <img
                      src="img/bot-icon.png"
                      alt="avatar"
                    />
                  </a>
                  <div class="chat-about">
                    <h6 class="m-b-0">Code Generator</h6>
                    <small>Let me help you with your code</small>
                  </div>
                </div>
                <div class="col-lg-6 hidden-sm text-right">
                  <a
                    href="javascript:void(0);"
                    class="btn btn-outline-secondary"
                    ><i class="fa fa-camera"></i
                  ></a>
                  <a href="javascript:void(0);" class="btn btn-outline-primary"
                    ><i class="fa fa-image"></i
                  ></a>
                  <a href="javascript:void(0);" class="btn btn-outline-info"
                    ><i class="fa fa-cogs"></i
                  ></a>
                  <a href="javascript:void(0);" class="btn btn-outline-warning"
                    ><i class="fa fa-question"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="chat-history">
              <ul class="m-b-0">
                <li class="clearfix">
                  <div class="message-data text-right">
            
                    <!-- <img
                      src="https://bootdey.com/img/Content/avatar/avatar7.png"
                      alt="avatar"
                    /> -->
                  </div>
                  <div class="message other-message float-right" id="userChat" >
                  </div>
                </li>
                <li class="clearfix">
                
                  <div class="message my-message" id="botChat" >

                  </div>
                </li>
              </ul>
            </div>
            <div class="chat-message clearfix">
              <div class="input-group mb-0">
                <form id="myForm" style="display:flex" onsubmit="handleSubmit(event)">
                <button class="input-group-prepend" style="border:none" type="submit">
                  <span class="input-group-text"
                    ><i class="fa fa-send"></i
                  ></span>
                </button>
                <input
                  type="text"
                  class="form-control"
                  id="textInput"
                  placeholder="Enter text here..."
                />
                 </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/openai"></script>
<script src="https://unpkg.com/turndown/dist/turndown.js"></script>
<script>
  const handleConversatopmPage =() => window.location.href="/chatConversation";
function handleSubmit(event) {
    event.preventDefault();
 
   let botChat = document.querySelector('#botChat');
   botChat.innerText=""
    const inputValue = document.getElementById('textInput').value
    document.querySelector('#userChat').innerText = inputValue;
      console.log(inputValue)
      const userMessage ={
        role:"user",
        content:inputValue,
      }
   
  fetch('/code', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
  },
  body: JSON.stringify(userMessage)
})
  .then(response => {
    if (!response.ok) {
      throw new Error('Network response was not ok.');
    }
   return response.json()
  })
  .then(data => {
   return botChat.innerText =  data.content;
    console.log('Received data:', data.content);
  
  })
  .catch(error => {
   
    console.error('Error:', error);
  });


  }

</script>
<!-- Team End -->

<%- include('partials/footer') %>
