<%- include('partials/pages/headerLogin') %>

    <!-- Navbar Continuation -->
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="img/dhvsu-background.png" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">

                    <!--LOGIN START-->
                    <div class="container pb-5 mb-sm-4">
                        <div class="row pt-5">
                            <div class="col-md-6 pt-sm-3 mx-auto mb-5">
                                <div class="card">
                                    <div class="card-body p-5">
                                        <h1 class="section-title text-center position-relative pb-3 mb-2">Forgot
                                            Password?</h1>
                                        <h3 class="h6 font-weight-semibold opacity-70 pt-4 pb-2">Please enter your email
                                            address, and we'll send you a verification code to proceed to the next step.
                                        </h3>
                                        <form class="needs-validation" novalidate="">
                                            <!--Email-->
                                            <div class="input-group form-group my-4">
                                                <div class="input-group-prepend"><span class="input-group-text"><svg
                                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round" class="feather feather-mail">
                                                            <path
                                                                d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z">
                                                            </path>
                                                            <polyline points="22,6 12,13 2,6"></polyline>
                                                        </svg></span></div>
                                                <input class="form-control" type="email" placeholder="Email"
                                                    required="">
                                                <div class="invalid-feedback">Please enter valid email address!</div>
                                            </div>
                                            <div class="d-flex flex-wrap justify-content-between">
                                                <p class="text-dark">Wrong button?
                                                    <a class="nav-link-inline font-size-sm mx-3" href="login">Sign
                                                        In</a>
                                                    <a class="nav-link-inline font-size-sm mx-3"
                                                        href="register">Register</a>
                                                </p>
                                            </div>
                                            <hr class="text-dark">
                                            <div class="text-right pt-4">
                                                <button class="btn btn-primary py-3 px-5 wow zoomIn"
                                                    data-wow-delay="0.9s" type="submit">Send Code</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <%- include('partials/pages/footerLogin') %>