<%- include('partials/header') %>
    <%- include('partials/pages/headerIndex') %>


        <!-- Facts Start -->
        <div class="container-fluid facts py-5 pt-lg-0">
            <div class="container py-5 pt-lg-0">
                <div class="row gx-0">
                    <div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s">
                        <div class="bg-primary shadow d-flex align-items-center justify-content-center p-4"
                            style="height: 150px;">
                            <div class="bg-white d-flex align-items-center justify-content-center rounded mb-2"
                                style="width: 60px; height: 60px;">
                                <i class="fa fa-check text-primary"></i>
                            </div>
                            <div class="ps-4">
                                <h5 class="text-white mb-0">Organized</h5>
                                <h1 class="text-white mb-0" data-toggle="counter-up">100</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow zoomIn" data-wow-delay="0.3s">
                        <div class="bg-light shadow d-flex align-items-center justify-content-center p-4"
                            style="height: 150px;">
                            <div class="bg-primary d-flex align-items-center justify-content-center rounded mb-2"
                                style="width: 60px; height: 60px;">
                                <i class="fa fa-check text-white"></i>
                            </div>
                            <div class="ps-4">
                                <h5 class="text-primary mb-0">Precise</h5>
                                <h1 class="mb-0" data-toggle="counter-up">100</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s">
                        <div class="bg-primary shadow d-flex align-items-center justify-content-center p-4"
                            style="height: 150px;">
                            <div class="bg-white d-flex align-items-center justify-content-center rounded mb-2"
                                style="width: 60px; height: 60px;">
                                <i class="fa fa-check text-primary"></i>
                            </div>
                            <div class="ps-4">
                                <h5 class="text-white mb-0">Efficient</h5>
                                <h1 class="text-white mb-0" data-toggle="counter-up">100</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Facts Start -->


        <!-- About Start -->
        <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-7">
                        <div class="section-title position-relative pb-3 mb-5">
                            <h5 class="fw-bold text-primary text-uppercase">Welcome to AskAll</h5>
                            <h1 class="mb-0">Your go-to website with a variety of information to meet all your needs.
                            </h1>
                        </div>
                        <p class="mb-4">From dynamic conversational AI to efficient and precised in productivity tools,
                            AskAll is designed to be your comprehensive hub for all the information you seek. Our
                            mission is to empower you with knowledge and streamline your online experience, making
                            AskAll the ultimate destination for smart and versatile solutions.</p>
                        <div class="row g-0 mb-3">
                            <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                                <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Dynamic AI</h5>
                                <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Efficient Tools</h5>
                            </div>
                            <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                                <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Precision in Productivity
                                    <h5>
                                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Comprehensive
                                            Information</h5>
                            </div>
                        </div>
                        <a href="service" class="btn btn-primary py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.9s">Check
                            Our Services</a>
                        <a href="about" class="btn btn-outline-dark py-3 px-5 mt-3 ms-5 wow zoomIn"
                            data-wow-delay="0.9s">Explore The Website</a>


                    </div>
                    <div class="col-lg-5" style="min-height: 500px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s"
                                src="img/about.png" style="object-fit: cover;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <!-- Testimonial Start -->
        <div class="container-fluid py-1 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container py-1">
                <!-- Images -->
                <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.6s">
                    <div class="testimonial-item bg-light my-5">
                        <div class="d-flex align-items-center border-bottom py-3 px-3">
                            <img class="img-fluid rounded" src="img/team.png" style="width: 416px; height: 270px;">
                        </div>
                    </div>
                    <div class="testimonial-item bg-light my-5">
                        <div class="d-flex align-items-center border-bottom py-3 px-3">
                            <img class="img-fluid rounded" src="img/dhvsu-background.png"
                                style="width: 416px; height: 270px;">
                        </div>
                    </div>
                    <div class="testimonial-item bg-light my-5">
                        <div class="d-flex align-items-center border-bottom py-3 px-3">
                            <img class="img-fluid rounded" src="img/ccs-background.png"
                                style="width: 416px; height: 270px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->

        <!-- Features Start -->
        <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                    <h5 class="fw-bold text-primary text-uppercase">Why Choose AskAll?</h5>
                    <h1 class="mb-0">Unveiling Our Unmatched Advantages</h1>
                </div>
                <div class="row g-5">
                    <div class="col-lg-4">
                        <div class="row g-5">
                            <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                                <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3"
                                    style="width: 60px; height: 60px;">
                                    <i class="fa fa-brain text-white"></i>
                                </div>
                                <h4>Comprehensive Knowledge Hub</h4>
                                <p class="mb-0">We pride ourselves offering a wide range of topics and insights to
                                    satisfy your curiosity and expand your understanding.
                                </p>
                            </div>
                            <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
                                <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3"
                                    style="width: 60px; height: 60px;">
                                    <i class="fa fa-swatchbook text-white"></i>
                                </div>
                                <h4>User-Focused Design</h4>
                                <p class="mb-0">AskAll is meticulously designed with you in mind, ensuring a
                                    user-friendly interface and intuitive navigation.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4  wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s"
                                src="img/feature.png" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row g-5">
                            <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
                                <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3"
                                    style="width: 60px; height: 60px;">
                                    <i class="fa fa-users-cog text-white"></i>
                                </div>
                                <h4>Professional Team</h4>
                                <p class="mb-0">diverse skills and a shared passion for innovation, our professionals
                                    collaborate to ensure the highest quality of service.
                                </p>
                            </div>
                            <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
                                <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3"
                                    style="width: 60px; height: 60px;">
                                    <i class="fa fa-lightbulb text-white"></i>
                                </div>
                                <h4>Innovation and Improvement</h4>
                                <p class="mb-0">Our commitment to improvement means you'll always have access to
                                    cutting-edge features and the latest in digital convenience.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features Start -->



        <%- include('partials/footer') %>