<%- include('partials/pages/headerLogin') %>

    <!-- Navbar Continuation -->
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="img/dhvsu-background.png" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">

                    <!--LOGIN START-->
                    <div class="container pb-5 mb-sm-4">
                        <div class="row pt-5">
                            <div class="col-md-6 pt-sm-3 mx-auto mb-5">
                                <div class="card">
                                    <div class="card-body p-5">
                                        <h1 class="section-title text-center position-relative pb-3 mb-2">Sign
                                            in</h1>
                                        <div class="d-sm-flex align-items-center py-3">
                                            <h3 class="h4 font-weight-semibold opacity-70 mb-3 mb-sm-2 mr-sm-3">Sign in
                                                with:
                                            </h3>
                                            <div>
                                                <a class="btn btn-md btn-outline-dark rounded-circle me-2 mx-2 mb-1"
                                                    href=""><i class="fab fa-facebook-f fw-normal fa-lg"></i></a>
                                                <a class="btn btn-md btn-outline-dark rounded-circle me-2 mx-1 mb-1"
                                                    href=""><i class="fab fa-google fw-normal fa-md"></i></a>
                                            </div>
                                        </div>
                                        <hr class="text-dark">
                                        <h3 class="h6 font-weight-semibold opacity-70 pt-4 pb-2">Or using form below
                                        </h3>
                                        <form class="needs-validation" novalidate="">
                                            <!--Email-->
                                            <div class="input-group form-group my-4">
                                                <div class="input-group-prepend"><span class="input-group-text"><svg
                                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round" class="feather feather-mail">
                                                            <path
                                                                d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z">
                                                            </path>
                                                            <polyline points="22,6 12,13 2,6"></polyline>
                                                        </svg></span></div>
                                                <input class="form-control" type="email" placeholder="Email"
                                                    required="">
                                                <div class="invalid-feedback">Please enter valid email address!</div>
                                            </div>
                                            <!--Password-->
                                            <div class="input-group form-group mb-3">
                                                <div class="input-group-prepend"><span class="input-group-text"><svg
                                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round" class="feather feather-lock">
                                                            <rect x="3" y="11" width="18" height="11" rx="2" ry="2">
                                                            </rect>
                                                            <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                                                        </svg></span></div>
                                                <input class="form-control" type="password" placeholder="Password"
                                                    required="">
                                                <div class="invalid-feedback">Please enter valid password!</div>
                                            </div>
                                            <div class="d-flex flex-wrap justify-content-between">
                                                <p class="text-dark">Don't have an Account?
                                                    <a class="nav-link-inline font-size-sm" href="register">
                                                        Register</a>
                                                </p>
                                                <a class="nav-link-inline font-size-sm" href="forgotPass">Forgot
                                                    password?</a>
                                            </div>
                                            <hr class="text-dark">
                                            <div class="text-right pt-4">
                                                <button class="btn btn-primary py-3 px-5 wow zoomIn"
                                                    data-wow-delay="0.9s" type="submit">Sign In</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <%- include('partials/pages/footerLogin') %>