<%- include('partials/header') %>
    <%- include('partials/pages/headerService') %>
        <!-- Testimonial Start -->
        <div class="container-fluid py-1 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container py-1">
                <!-- Images -->
                <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.6s">
                    <div class="testimonial-item bg-light my-5">
                        <div class="d-flex align-items-center border-bottom py-3 px-3">
                            <img class="img-fluid rounded" src="img/team.png" style="width: 416px; height: 270px;">
                        </div>
                    </div>
                    <div class="testimonial-item bg-light my-5">
                        <div class="d-flex align-items-center border-bottom py-3 px-3">
                            <img class="img-fluid rounded" src="img/dhvsu-background.png"
                                style="width: 416px; height: 270px;">
                        </div>
                    </div>
                    <div class="testimonial-item bg-light my-5">
                        <div class="d-flex align-items-center border-bottom py-3 px-3">
                            <img class="img-fluid rounded" src="img/ccs-background.png"
                                style="width: 416px; height: 270px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->

        <!-- Service Start -->
        <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                    <h5 class="fw-bold text-primary text-uppercase">Our Services</h5>
                    <h1 class="mb-0">Custom IT Solutions for Your Successful Business</h1>
                </div>
                <div class="row g-5">
                    <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                        <div
                            class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                            <div class="service-icon">
                                <i class="fa fa-user-tie text-white"></i>
                            </div>
                            <h4 class="mb-3">Chat AI</h4>
                            <p class="m-0"> Engage in dynamic and personalized conversations with our intelligent AI.
                            </p>
                            <a class="btn btn-lg btn-primary rounded" href="chatAI">
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                        <div
                            class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                            <div class="service-icon">
                                <i class="fa fa-calculator text-white"></i>
                            </div>
                            <h4 class="mb-3">Calculator</h4>
                            <p class="m-0">Perform quick and precise calculations effortlessly with our user-friendly
                                Calculator.
                            </p>
                            <a class="btn btn-lg btn-primary rounded" href="calculator">
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                        <div
                            class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                            <div class="service-icon">
                                <i class="fa fa-ruler text-white"></i>
                            </div>
                            <h4 class="mb-3">Measurement Converter</h4>
                            <p class="m-0">Seamlessly convert between units for hassle-free comparisons.
                            </p>
                            <a class="btn btn-lg btn-primary rounded" href="">
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                        <div
                            class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                            <div class="service-icon">
                                <i class="fa fa-book text-white"></i>
                            </div>
                            <h4 class="mb-3">Word to PDF</h4>
                            <p class="m-0">Effortlessly transform your documents from Word to PDF format.
                            </p>
                            <a class="btn btn-lg btn-primary rounded" href="wordToPdf">
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                        <div
                            class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                            <div class="service-icon">
                                <i class="fa fa-file text-white"></i>
                            </div>
                            <h4 class="mb-3">PDF to Word</h4>
                            <p class="m-0">Instantly convert PDFs back into editable Word documents.
                            </p>
                            <a class="btn btn-lg btn-primary rounded" href="pdfToWord">
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                        <div
                            class="position-relative bg-primary rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5">
                            <h3 class="text-white mb-3">Contact Us</h3>
                            <p class="text-white mb-3">Facing errors or have inquiries? Reach out to us! We're here
                                to help and resolve any questions you may have.</p>
                            <a href="contact" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">Reach
                                Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->





        <%- include('partials/footer') %>