<div class="collapse navbar-collapse" id="navbarCollapse">
  <div class="navbar-nav ms-auto py-0">
    <a href="/" class="nav-item nav-link">Home</a>
    <a href="todo-list" class="nav-item nav-link">To-Do List</a>
    <a href="weather" class="nav-item nav-link">Weather</a>
    <div class="nav-item dropdown">
      <a href="services" class="nav-item nav-link dropdown-toggle active">Services</a>
      <div class="dropdown-menu m-0">
        <a href="chatConversation" class="dropdown-item">Chat AI</a>
        <a href="calculator" class="dropdown-item">Calculator</a>
        <a href="word-to-pdf" class="dropdown-item">Word to PDF</a>
        <a href="pdf-to-word" class="dropdown-item active">PDF to Word</a>
        <a href="temperature-converter" class="dropdown-item">Unit Converter</a>
      </div>
    </div>
    <a href="about" class="nav-item nav-link">About</a>
    <div class="nav-item dropdown">
      <a href="team" class="nav-link dropdown-toggle">Team</a>
      <div class="dropdown-menu m-0">
        <a href="resume-phoebe" class="dropdown-item">BERNARDO, Phoebe Otreas L.</a>
        <a href="resume-nath" class="dropdown-item">MANUNTAG, Nathaniel Adriane T.</a>
        <a href="resume-ronnie" class="dropdown-item">NICANDRO, Ronnie C. </a>
        <a href="resume-gracezen" class="dropdown-item">PANGAN, Gracezen M.</a>
        <a href="resume-punla" class="dropdown-item">PUNLA, Andre Ann G.</a>
        <a href="resume-mark" class="dropdown-item">REYES, Mark Anthony C.</a>
        <a href="resume-chris" class="dropdown-item">SANTOS, Chris Jay E.</a>
        <a href="resume-soza" class="dropdown-item">SOZA, Joshua Aaron X.</a>
        <a href="resume-vital" class="dropdown-item">VITAL, Mark Ian M.</a>
        <a href="resume-zapanta" class="dropdown-item">ZAPANTA, Carl Justin S.</a>
      </div>
    </div>
    <a href="contact" class="nav-item nav-link">Contact</a>
    <div class="nav-item dropdown">
      <a href="profile" class="nav-link dropdown-toggle">Profile</a>
      <div class="dropdown-menu m-0">
        <a href="logout" class="dropdown-item">Logout</a>
      </div>
    </div>
  </div>
  <a href="services" class="btn btn-primary py-2 px-4 ms-3">Boost
    Productivity</a>
</div>
</nav>

<!-- Navbar Continuation -->
<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
  <div class="row py-5">
    <div class="col-12 pt-lg-5 mt-lg-5 text-center">
      <h1 class="display-4 text-white animated zoomIn">PDF To Word</h1>
      <a href="/" class="h5 text-white">Home</a>
      <i class="far fa-circle text-white px-2"></i>
      <a href="pdf-to-word" class="h5 text-white">PDF To Word</a>
    </div>
  </div>
</div>
</div>
<!-- Navbar End -->