<div class="collapse navbar-collapse" id="navbarCollapse">
  <div class="navbar-nav ms-auto py-0">
    <a href="/" class="nav-item nav-link">Home</a>
    <a href="todo" class="nav-item nav-link">To-Do List</a>
    <a href="weather" class="nav-item nav-link">Weather</a>
    <div class="nav-item dropdown">
      <a href="service" class="nav-item nav-link dropdown-toggle active">Services</a>
      <div class="dropdown-menu m-0">
        <a href="chatAI" class="dropdown-item">Chat AI</a>
        <a href="calculator" class="dropdown-item active">Calculator</a>
        <a href="wordToPdf" class="dropdown-item">Word to PDF</a>
        <a href="pdfToWord" class="dropdown-item">PDF to Word</a>
        <a href="converter" class="dropdown-item">Converter</a>
      </div>
    </div>
    <a href="about" class="nav-item nav-link">About</a>
    <div class="nav-item dropdown">
      <a href="team" class="nav-link dropdown-toggle">Team</a>
      <div class="dropdown-menu m-0">
        <a href="resumePhoebe" class="dropdown-item">BERNARDO, Phoebe Otreas L.</a>
        <a href="resumeNath" class="dropdown-item">MANUNTAG, Nathaniel Adriane T.</a>
        <a href="resumeRonnie" class="dropdown-item">NICANDRO, Ronnie C. </a>
        <a href="resumeGracezen" class="dropdown-item">PANGAN, Gracezen M.</a>
        <a href="resumePunla" class="dropdown-item">PUNLA, Andre Ann G.</a>
        <a href="resumeMark" class="dropdown-item">REYES, Mark Anthony C.</a>
        <a href="resumeChris" class="dropdown-item">SANTOS, Chris Jay E.</a>
        <a href="resumeSoza" class="dropdown-item">SOZA, Joshua Aaron X.</a>
        <a href="resumeVital" class="dropdown-item">VITAL, Mark Ian M.</a>
        <a href="resumeZapanta" class="dropdown-item">ZAPANTA, Carl Justin S.</a>
      </div>
    </div>
    <a href="contact" class="nav-item nav-link">Contact</a>
    <a href="profile" class="nav-item nav-link">Profile</a>
  </div>
  <a href="service" class="btn btn-primary py-2 px-4 ms-3">Boost
    Productivity</a>
</div>
</nav>

<!-- Navbar Continuation -->
<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
  <div class="row py-5">
    <div class="col-12 pt-lg-5 mt-lg-5 text-center">
      <h1 class="display-4 text-white animated zoomIn">Calculator</h1>
      <a href="/" class="h5 text-white">Home</a>
      <i class="far fa-circle text-white px-2"></i>
      <a href="calculator" class="h5 text-white">Calculator</a>
    </div>
  </div>
</div>
</div>
<!-- Navbar End -->