<div class="collapse navbar-collapse" id="navbarCollapse">
  <div class="navbar-nav ms-auto py-0">
    <a href="/" class="nav-item nav-link active">Home</a>
    <a href="todo" class="nav-item nav-link">To-Do List</a>
    <a href="weather" class="nav-item nav-link">Weather</a>
    <div class="nav-item dropdown">
      <a href="service" class="nav-item nav-link dropdown-toggle">Services</a>
      <div class="dropdown-menu m-0">
        <a href="chatAI" class="dropdown-item">Chat AI</a>
        <a href="calculator" class="dropdown-item">Calculator</a>
        <a href="wordToPdf" class="dropdown-item">Word to PDF</a>
        <a href="pdfToWord" class="dropdown-item">PDF to Word</a>
        <a href="converter" class="dropdown-item">Converter</a>
      </div>
    </div>
    <a href="about" class="nav-item nav-link">About</a>
    <div class="nav-item dropdown">
      <a href="team" class="nav-link dropdown-toggle">Team</a>
      <div class="dropdown-menu m-0">
        <a href="resumePhoebe" class="dropdown-item">BERNARDO, Phoebe Otreas L.</a>
        <a href="resumeNath" class="dropdown-item">MANUNTAG, Nathaniel Adriane T.</a>
        <a href="resumeRonnie" class="dropdown-item">NICANDRO, Ronnie C. </a>
        <a href="resumeGracezen" class="dropdown-item">PANGAN, Gracezen M.</a>
        <a href="resumePunla" class="dropdown-item">PUNLA, Andre Ann G.</a>
        <a href="resumeMark" class="dropdown-item">REYES, Mark Anthony C.</a>
        <a href="resumeChris" class="dropdown-item">SANTOS, Chris Jay E.</a>
        <a href="resumeSoza" class="dropdown-item">SOZA, Joshua Aaron X.</a>
        <a href="resumeVital" class="dropdown-item">VITAL, Mark Ian M.</a>
        <a href="resumeZapanta" class="dropdown-item">ZAPANTA, Carl Justin S.</a>
      </div>
    </div>
    <a href="contact" class="nav-item nav-link">Contact</a>
    <a href="profile" class="nav-item nav-link">Profile</a>
  </div>
  <a href="service" class="btn btn-primary py-2 px-4 ms-3">Boost
    Productivity</a>
</div>
</nav>

<!-- Navbar Continuation -->
<div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="w-100" src="img/dhvsu-background.png" alt="Image">
      <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
        <div class="p-3" style="max-width: 900px;">
          <h5 class="text-white text-uppercase mb-3 animated slideInDown">Knowledgeable & Comprehensive</h5>
          <h1 class="display-1 text-white mb-md-4 animated zoomIn">Your Ultimate Website Assistant</h1>
          <a href="service" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Our Services</a>
          <a href="todo" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">Your Tasks</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="w-100" src="img/ccs-background.png" alt="Image">
      <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
        <div class="p-3" style="max-width: 900px;">
          <h5 class="text-white text-uppercase mb-3 animated slideInDown">Smart & Versatile</h5>
          <h1 class="display-1 text-white mb-md-4 animated zoomIn">All the Information You Need in One Place</h1>
          <a href="weather" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Check Weather</a>
          <a href="team" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">Meet The Team</a>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<!-- Navbar & Carousel End -->